body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .header {
    margin: 0;
    padding: 0;
    /* position: relative; */
    background-image: url(image/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    /* border: red 1pt solid; */
  }
  
  .header1 {
    font-family: gotham bold;
    width: 100%;
    display: flex;
  }
  
  .logo {
    width: 30em;
    padding-left: 20pt;
    display: flex;
  }
  
  .logo p {
    margin: 0;
    font-size: 50px;
    font-family: French Script MT;
    color: #ffffff;
    width: 80%;
  }
  
  .burger {
    display: none;
    padding: 0 5pt;
    height: fit-content;
    margin: 0 auto;
  }
  
  .slice {
    width: 45px;
    height: 7px;
    background-color: black;
    margin: 10px 0;
  }
  
  .menu {
    margin-left: 20%;
    font-size: 20px;
    font-family: sans-serif;
    width: 40%;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu ul li {
    /* float: left; */
    margin-left: 35px;
    display: inline;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menu ul li.active a, .menu ul li a:hover {
    text-decoration: none;
    color: lightskyblue;
  }

.konten {
  margin-top: 5%;

}

.trip1 {
  width: 70%;
  height: 400px;
  margin-left: 0%;
  line-height: 50px;
  background: #22495a;
  position: relative;
}

.gbrtrip1{
    position: absolute;
    width: 50%;
    height: 360px;
    padding-top: 40px;
    padding-left: 35px;
}

.tekstrip1{
    position: absolute;
    padding-top: 20%;
    margin-left: 65%;
    font-size: 60;
}

.tekstrip1 a{
    text-decoration: none;
    color: white;
}

.trip2 {
    width: 70%;
    height: 400px;
    margin-left: 30%;
    line-height: 50px;
    background: #22495a;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }

.gbrtrip2{
    position: absolute;
    width: 97%;
    height: 360px;
    padding-top: 40px;
    padding-left: 48%;
    padding-right: 10px;
}

.tekstrip2{
    position: absolute;
    padding-top: 20%;
    margin-left: 10%;
    font-size: 60;
}

.tekstrip2 a{
    text-decoration: none;
    color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 15px;
  }


  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  /* The Close Button */
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
    .header1 {
      display: inline;
      /* background-color: rgba(62, 230, 179, 0.527); */
    }
    .logo {
      width: 100%;
      padding: 0;
      background-color: rgba(100, 110, 110, 0.4);
    }
    .burger {
      cursor: pointer;
      box-sizing: border-box;
      display: block;
      margin: 0;
      margin-left: 15%;
      padding: 0 10pt;
    }
    .burger:hover{
      background-color: rgba(200, 200, 240, 0.3);
    }
    .menu {
      display: none;
      margin-left: 0;
      width: 100%;
    }
    .menu ul {
      padding: 0;
      margin: 0;
    }
    .menu ul li {
      display: block;
      margin: 0;
    }
    .menu ul li:hover {
      cursor: pointer;
      background-color: rgba(100, 110, 110, 0.4);
    }
    .menu ul li a {
      display: block;
      padding: 10pt;
      margin: 0 auto;
      width: fit-content;
    }
  }